[Desktop Entry]
#Encoding of this file
Encoding=UTF-8
#The name to be shown in the 'Add Widgets' dialog
Name=F@H Progress
#Tells KDE this is provides the 'Plasma applet'
ServiceTypes=Plasma/Applet
#Tells KDE this is a service of sorts
Type=Service
#The icon to show in the 'Add Widgets' dialog
Icon=ksplash
#The language your plugin is written in
X-Plasma-API=python
#The main entrypoint for your plasmoid
X-Plasma-MainScript=code/main.py


X-KDE-PluginInfo-Author=Gonçalo Valério
X-KDE-PluginInfo-Email=gon@ovalerio.net
#The internal name of the plasmoid. Your plasmoid gets installed into ~/.kde/share/apps/plasma/<Name>/
X-KDE-PluginInfo-Name=fah-plasmoid
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Other Stuff
X-KDE-PluginInfo-Depends=fah-plasmoid-data-engine
X-KDE-PluginInfo-License=GPL
#Tells KDE if this plasmoid should be available by default, or if the user needs to jump through hoops to enable it.
X-KDE-PluginInfo-EnabledByDefault=true
